<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dispatch.dao.FillDataMapper">

    <select id="list" resultType="com.example.dispatch.entity.FillData">
        SELECT
            id,
            id_card AS idCard,
            `name`,
            `group`,
            house_number AS houseNumber,
            phone,
            is_allowance AS isAllowance
        FROM fill_data
    </select>

</mapper>